body {

    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


ul.attachment
{
    width:40%;
    padding:0px;
}

ul.attachment li
{
    margin:1em;
    padding:1em;
    border:solid 1px #808080;
    background-color:#dddddd;
    font-size:0.9em;
    list-style-type:none;
}

    ul.attachment li a
    {
        font-weight:bold;
    }
        /*ul.attachment li a.title
        {
           
        }*/
        ul.attachment li a.deleteItem
        {
            text-align:right;           
            color:#808080;
        }
.navbar-brand > img {
    display: block;
    max-height: 200%;
    height: 55px;
    width: auto;
    margin: auto;
}
/*========================================================== _Client*/

div.page_Client {
    background-color: white;
    margin: 0px;
    padding: 10px;
    padding-top: 50px;
}

/*div.form-group {
    padding-left: 40px;
    /*width: 300px;*/
}*/
 
/*============================================================= client index*/

.pageCLient {
    background-color: white;
    margin: 0px;
    padding: 10px;
    padding-top: 20px;
    height: auto;
}

tr.thead-inverse {
    background-color: #465A65;
    color: white;
}

a.btn-default:hover {
    background-color: #0c7cd5;
    color: white;
}

a.btn-default {
    background-color: #2196F3;
    color: white;
}

/*================================================================== _Invoice*/
div.page_Invoice {
    background-color: white;
    margin: 0px;
    padding: 10px;
    padding-top: 20px;
}

th {
    text-align: center;
    background-color: #465A65;
    color: white;
}

div.dropBranch {
    width: 350px;
}

div.dropClient {
    width: 350px;
}

img.logo {
    width: 150px;
    height: 150px;
}

div.header {
    position: relative;
    display: table;
    width: 100%;
    margin-bottom: 5rem;
}

tr.thead-inverse {
    background-color: #465A65;
    color: white;
}

div.alignContent {
    width: 100%;
    display: table;
    position: relative;
}

/*======================================================== Invoice index*/

.pageIndexInvoice {
    background-color: white;
    margin: 0px;
    padding: 10px;
    /*padding-top: 20px;*/
    height: auto;
}

tr.thead-inverse {
    background-color: #465A65;
    color: white;
    text-align: center;
}

a.btn-default:hover {
    background-color: #0c7cd5;
    color: white;
}

a.btn-default {
    background-color: #2196F3;
    color: white;
}

/*======================================================== _Payment*/

div.page_Payment {
    background-color: white;
    margin: 0px;
    padding: 10px;
    padding-top: 50px;
}

/*div.form-group {
    padding-left: 40px;
    /*width: 300px;*/
}*/

a.btn-default {
    background-color: #2196F3;
    color: white;
}

div.RPDateAmount {
    width: 300px;
}
/*========================================================= payment index*/
.page_Index_Payment { 
    background-color: white;
    margin: 0px;
    padding: 10px;
    padding-top: 20px;
    height: auto;
}

tr.thead-inverse {
    background-color: #465A65;
    color: white;
}

a.btn-default:hover {
    background-color: #0c7cd5;
    color: white;
}

a.btn-default {
    background-color: #2196F3;
    color: white;
}

/*========================================================== _TypesofService*/

div.page_TypesofService {
    background-color: white;
    margin: 0px;
    padding: 10px;
    padding-top: 50px;
}

/*div.form-group {
    padding-left: 40px;
    /*width: 300px;*/
}*/

a.btn-default {
    background-color: #2196F3;
    color: white;
}

/*=========================================================== TypesofService index*/

.pageTService {
    background-color: white;
    margin: 0px;
    padding: 10px;
    padding-top: 20px;
    height: auto;
}

tr.thead-inverse {
    background-color: #465A65;
    color: white;
}

a.btn-default:hover {
    background-color: #0c7cd5;
    color: white;
}

a.btn-default {
    background-color: #2196F3;
    color: white;
}

/*============================================================= InvoiceSummary*/

#grad1 {
    color: white;
    margin: 0px;
    background: linear-gradient(to right, #159cf6, #97dded);
}


