@{
    ViewBag.Title = "Index";
}

<style>
    .pageCLient {
        background-color: white;
        margin: 0px;
        padding: 10px;
        padding-top: 20px;
        height:auto;
    }
    tr.thead-inverse {
        background-color: #465A65;
        color:white;
       
    }

    a.btn-default:hover {
        background-color: #0c7cd5;
        color: white;
    }

    a.btn-default {
        background-color: #2196F3;
        color: white;
    }
</style>

<div class="pageClient"ng-controller="ClientController as model" ng-init="model.Initialise()">
    <div class="row">
        <div class="col-sm-4">
            <a href="../Client/Create" class="btn btn-default">Create</a>
        </div>
    

    </div>
    <div class="row">
        <br>
        <div class="col-sm-12">
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse">

                        <th><center>Code</center></th>
                        @*<th>ClientId</th>*@
                        <th><center>Company Name</center></th>
                        <th><center>Address</center></th>
                        @*<th>CompanyId</th>*@ 
                        <th><center>Registration No.</center></th>
                        <th><center>Tax Type</center></th>
                        <th><center>WithHolding Tax</center></th>
                        <th><center>Currency</center></th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="clickableRow" ng-repeat="client in model.Clients" ng-click="$event.originalEvent.dropdown || model.GoToUpdatePage(client.ClientId)">
                        <td><span ng-bind="client.Code"></span></td>
                        @*<td><span ng-bind="client.ClientId"></span></td>*@
                        <td><span ng-bind="client.Name"></span></td>
                        <td><span ng-bind="client.Address"></span></td>
                        @*<td><span ng-bind="client.CompanyId"></span></td>*@
                        <td><span ng-bind="client.RegistrationNumber"></span></td>
                        <td><span ng-bind="client.TaxTypeId"></span></td>
                        <td><span ng-bind="client.WithHoldingTaxPercentage"></span></td>
                        <td><span ng-bind="client.CurrencyCode"></span></td>
                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="model.GoToUpdatePage(client.ClientId)">Edit</a></li>
                                    <li><a href="#" ng-click="model.Delete(client)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   

</div>
