@{
    ViewBag.Title = "Index";
}

<div ng-controller="ClientController as model" ng-init="model.Initialise()">
    <div class="row">
        <div class="col-sm-4">
            <a href="../Client/Create" class="btn btn-default">Create</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse">

                        <th>ClientId</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Registration Number</th>
                        @*<th>Email Address</th>*@
                        @*<th>CompanyId</th>*@
                        <th>TaxType</th>
                        <th>WithHolding Tax</th>
           
                        <th>Currency</th>
                        <th>Actions</th>

                    </tr>
                    
                </thead>
                <tbody>
                    <tr class="clickableRow" ng-repeat="client in model.Clients" ng-click="$event.originalEvent.dropdown || model.GoToUpdatePage(client.ClientId)">

                        <td><span ng-bind="client.ClientId"></span></td>
                        <td><span ng-bind="client.Code"></span></td>
                        <td><span ng-bind="client.Name"></span></td>
                        <td><span ng-bind="client.Address"></span></td>
                        <td><span ng-bind="client.RegistrationNumber"></span></td>
                        @*<td><span ng-bind="client.Email1"></span>
                            <span ng-bind="client.Email2"></span>
                            <span ng-bind="client.Email3"></span></td>*@
                        @*<td><span ng-bind="client.CompanyId"></span></td>*@

                        <td><span ng-bind="client.TaxTypeId"></span></td>
                        <td><span ng-bind="client.WithHoldingTaxPercentage"></span></td>
                        <td><span ng-bind="client.CurrencyCode"></span></td>
                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="model.GoToUpdatePage(client.ClientId)">Edit</a></li>
                                    <li><a href="#" ng-click="model.Delete(client)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
</div>
