@{
    ViewBag.Title = "Index";
}

<div class="pageClient" ng-controller="ClientController as model" ng-init="model.Initialise()">
    <div class="row">
        <div class="col-sm-4">
            <a href="../Client/Create" class="btn btn-default">Create</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse">
                        <th>Code</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Registration No.</th>
                        @*<th>Email Address</th>*@
                        <th>Currency</th> 
                        <th>Tax Type</th>
                        <th>Withholding Tax</th>
                        <th>Actions</th>
                    </tr>

                </thead>
                <tbody>
                    <tr class="clickableRow" ng-repeat="client in model.Clients" ng-click="$event.originalEvent.dropdown || model.GoToUpdatePage(client.ClientId)" style="height:20px">
                        <td><span ng-bind="client.Code"></span></td>
                        <td><span ng-bind="client.Name"></span></td>
                        <td><span ng-bind="client.Address"></span></td>
                        <td><span ng-bind="client.RegistrationNo"></span></td>
                        @*<td><span ng-bind="client.EmailAddress"></span></td>*@
                        <td><span ng-bind="client.Currency.CurrencyCodes"></span></td>
                        <td><span ng-bind="client.TaxType.TaxTypes"></span></td>
                        <td><span ng-bind="client.WithHoldingTax"></span></td>
                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="model.GoToUpdatePage(client.ClientId)">Edit</a></li>
                                    <li><a href="#" ng-click="model.Delete(client)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   

</div>
