@using AndersonPayModel;
@model Client

@{
    ViewBag.Title = "Update";
}
<div class="row">
    <div class="col-sm-12">
        <form action="~/Client/Update" method="post">
            @{
                Html.RenderPartial("_Client", Model);
            }
        </form>
    </div>
</div>