
@{
    ViewBag.Title = "Anderson.Pay - About";
}

<!-- Content -->
<div class="content-wrapper">
    <div class="content">

        <div class="panel panel-flat">
            <div class="removescroll content">
                <!--header-->
                <center>
                    <img src="~/Content/assets/img/logo-andersonpay.png" alt="" style="width: 90%;" />
                    <br />
                    <br />
                    <h4 class="Version-Class">Version 1.0</h4>
                    <!--header-->
                    <!--first paragraph-->

                    <!--JEV WAS HERE NYAHAHA-->
                    <span class="Paragraph-1">
                        <b>Anderson Pay</b> is an Invoice Management System that can be accessed at a given network range.
                        <br />It is intended to be the internal invoice management system of Anderson Group BPO Inc.
                        <br />It is a web-based invoicing system that is secured and accessible only by the authorized users.
                        <br /><br /><br />
                    
                    </span>
                </center>
                <!--second paragraph-->
                <!--div chip-->

                <!--DEVELOPERS-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Developers</h3>
                    </div>

                    <div class="panel-body">
                        <ul>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                <a href="https://www.linkedin.com/in/christian-al-gonzalvo-93772b151/">
                                    Christian Al Gonzalvo
                                </a>
                                <br />
                                <span class="badge">2017-08-23 - 2017-12-08</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                Lars Kendall Mateo
                                <br />
                                <span class="badge">2017-05 - 2017-07</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    Jason Maido
                                <br />
                                <span class="badge">2017-05 - 2017-06</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                    Mary Rose Cuario
                                <br />
                                <span class="badge">2017-08 - 2017-10</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                 Maria Jeveca Longakit
                                <br />
                                <span class="badge">2017-07 - 2017-10</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                Adrian Guevarra
                                <br />
                                <span class="badge">2017-10</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                Joshua Alfred Galasan
                                <br />
                                <span class="badge">2017-10</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                Mark Aaron Nebrija
                                <br />
                                <span class="badge">2017-10</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                Jhoan Rose Dela Cruz
                                <br />
                                <span class="badge">2017-10</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                Franklin John Nicolas
                                <br />
                                <span class="badge">2017-10</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                Frederick Manlusoc
                                <br />
                                <span class="badge">2017-10</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                Zildjian Mergilla
                                <br />
                                <span class="badge">2017-10</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                Nelson John Cristobal
                                <br />
                                <span class="badge">2017-10</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                Joben Binondo
                                <br />
                                <span class="badge">2017-10</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                Roi Marvin Magboo
                                <br />
                                <span class="badge">2017-10</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                Jakerome Openiano
                                <br />
                                <span class="badge">2017-10</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                Mel Brian Lim
                                <br />
                                <span class="badge">2017-10</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                Christian Bagas
                                <br />
                                <span class="badge">2017-10</span>
                            </li>
                            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                Daryll Magsombol
                                <br />
                                <span class="badge">2017-10</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/DEVELOPERS-->

            <!--UPDATES-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Updates</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" data-toggle="collapse" data-target="#2017-10-26">
                            October to November 2017
                            <ul id="2017-10-26" class="collapse">
                                <li>
                                    Updated About Page
                                </li>
                                <li>
                                    Refactored Codes
                                </li>
                                <li>
                                    Remove the old Create Update Delete of Company and Invoice
                                </li>
                                <li>
                                    Replace the Company into Client 
                                </li>
                                <li>
                                     Compute dynamically of Invoice in adding the subtotal
                                </li>
                                <li>
                                    Created New Create, Read, Update, Delete of Type Of Service
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <!--/UPDATES-->

            <!-- /content area -->
            <div class="footer text-muted">
                &copy; 2017.- Anderson Group BPO Inc. | <a href="#">Anderson.Pay</a> - Private and Confidential.
            </div>

        </div>

        <!-- /content area -->
    </div>
    <!-- /main content -->
</div>