
@{
    ViewBag.Title = "Anderson.Pay - About";
}




<!-- Content -->
<div class="content-wrapper">
    <div class="content">

        <div class="panel panel-flat">
            <div class="removescroll content">
                <!--header-->
                <center>
                    <img src="~/Content/assets/img/logo-andersonpay.png" alt="" style="width: 90%;" />
                    <br />
                    <br />
                    <h4 class="Version-Class">Version 1.0</h4>
                    <!--header-->
                    <!--first paragraph-->

                    <!--JEV WAS HERE NYAHAHA-->
                    <span class="Paragraph-1">
                        <b>Anderson Pay</b> is an Invoice Management System that can be accessed at a given network range.
                        <br />It is intended to be the internal invoice management system of Anderson Group BPO Inc.
                        <br />It is a web-based invoicing system that is secured and accessible only by the authorized users.
                        <br /><br /><br />
                    
                    </span>
                </center>
                <!--second paragraph-->

                <h2 class="Developers-title"> <b>Developers</b></h2>
                <!--div chip-->
                <div style="padding:5px; margin-left:20px; text-align:center">
                    Maria Jeveca Longakit | Lars Kendall Mateo | Jason Maido | Mary Rose Cuario | Christial Al Gonzalvo<br />
                    <br />Adrian Guevarra | Joshua Alfred Galasan | Mark Aaron Nebrija | Jhoan Rose Dela Cruz<br />
                    <br />Franklin John Nicolas | Frederick Manlusoc | Zildjian Mergilla | Nelson John Cristobal<br />
                    <br />Joben Binondo | Roi Marvin Magboo | Jakerome Openiano | Mel Brian Lim | Christian Bagas | Daryll Magsombol
                </div>
            </div>


            <!-- /content area -->
            <div class="footer text-muted">
                &copy; 2017.- Anderson Group BPO Inc. | <a href="#">Anderson.Pay</a> - Private and Confidential.
            </div>

        </div>

        <!-- /content area -->
    </div>
    <!-- /main content -->
</div>