
@{
    ViewBag.Title = "Anderson.Pay - Underconstruction";
}


<div class="content-wrapper">
    <div class="content">

        <div class="text-center content-group text-muted content-divider">

            <img src="~/Content/assets/img/logo-andersonpay.png" class="Maintenance-photo" />
            <h2 class="Maintenance-label"><strong>Nothing to see here yet.</strong></h2>

        </div>




    </div>

</div>

<!-- Content -->






