USE [master]
GO
/****** Object:  Database [AndersonPay]    Script Date: 7/24/2017 9:04:32 AM ******/
CREATE DATABASE [AndersonPay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AndersonPay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AndersonPay.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AndersonPay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\AndersonPay_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AndersonPay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AndersonPay]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/24/2017 9:04:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Archive]    Script Date: 7/24/2017 9:04:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archive](
	[SupportId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Summary] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.Archive] PRIMARY KEY CLUSTERED 
(
	[SupportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Company]    Script Date: 7/24/2017 9:04:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyName] [nvarchar](128) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Country] [nvarchar](max) NOT NULL,
	[TIN] [int] NOT NULL,
	[ContactPerson] [nvarchar](max) NULL,
	[TelephoneNumber] [int] NOT NULL,
	[FORDO] [nvarchar](max) NOT NULL,
	[Tax] [nvarchar](max) NULL,
	[CompanyCode] [nvarchar](max) NOT NULL,
	[Recipients] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Company] PRIMARY KEY CLUSTERED 
(
	[CompanyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 7/24/2017 9:04:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[FullName] [nvarchar](128) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[CompanyName] [nvarchar](max) NULL,
	[JobName] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Employee] PRIMARY KEY CLUSTERED 
(
	[FullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FileDetail]    Script Date: 7/24/2017 9:04:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileDetail](
	[Id] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[Extension] [nvarchar](max) NULL,
	[SupportId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FileDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 7/24/2017 9:04:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[invoiceId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[DueDate] [datetime] NOT NULL,
	[Quantity] [nvarchar](max) NULL,
	[Rate] [nvarchar](max) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[TypeOfService] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](128) NOT NULL,
	[GovernmentTax] [decimal](18, 2) NOT NULL,
	[gtholder] [decimal](18, 2) NOT NULL,
	[WithholdingTax] [decimal](18, 2) NOT NULL,
	[whtholder] [decimal](18, 2) NOT NULL,
	[LateFee] [nvarchar](max) NULL,
	[lfholder] [decimal](18, 2) NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[Currency] [nvarchar](max) NOT NULL,
	[ExpiringPeriod] [datetime] NOT NULL,
	[totalTax] [decimal](18, 2) NOT NULL,
	[invIdholder] [int] NULL,
	[Status] [nvarchar](max) NULL,
	[Recipients] [nvarchar](max) NULL,
	[Deleted] [bit] NULL,
	[Multiple] [bit] NOT NULL,
	[StartPeriod] [datetime] NOT NULL DEFAULT ('1900-01-01T00:00:00.000'),
 CONSTRAINT [PK_dbo.Invoice] PRIMARY KEY CLUSTERED 
(
	[invoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 7/24/2017 9:04:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobName] [nvarchar](128) NOT NULL,
	[Currency] [nvarchar](max) NOT NULL,
	[RateType] [nvarchar](max) NOT NULL,
	[Rate] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Jobs] PRIMARY KEY CLUSTERED 
(
	[JobName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MultipleServices]    Script Date: 7/24/2017 9:04:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MultipleServices](
	[MultipleServiceId] [int] IDENTITY(1,1) NOT NULL,
	[invoiceId] [int] NOT NULL,
	[NameOfService] [nvarchar](max) NOT NULL,
	[ServiceQuantity] [nvarchar](max) NOT NULL,
	[ServiceRate] [nvarchar](max) NOT NULL,
	[SubTotal] [nvarchar](max) NULL,
	[typeofservices_typeofserviceId] [int] NULL,
	[Employee_FullName] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.MultipleServices] PRIMARY KEY CLUSTERED 
(
	[MultipleServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TypeOfService]    Script Date: 7/24/2017 9:04:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfService](
	[typeofserviceId] [int] IDENTITY(1,1) NOT NULL,
	[NameOfService] [nvarchar](max) NOT NULL,
	[IsSelected] [bit] NOT NULL,
	[Rate] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TypeOfService] PRIMARY KEY CLUSTERED 
(
	[typeofserviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Archive] ON 

INSERT [dbo].[Archive] ([SupportId], [Name], [Summary]) VALUES (1, N'Adrian Guevarra', N'sample')
INSERT [dbo].[Archive] ([SupportId], [Name], [Summary]) VALUES (2, N'Jhoan Dela Cruz', NULL)
SET IDENTITY_INSERT [dbo].[Archive] OFF
INSERT [dbo].[Company] ([CompanyName], [Address], [Country], [TIN], [ContactPerson], [TelephoneNumber], [FORDO], [Tax], [CompanyCode], [Recipients], [FullName]) VALUES (N'`ELEARNING EDGE INC./FUTURE PROOF', N'sample', N'Philippines', 123, N'sample', 31534, N'Domestic', N'Vatable', N'124', N'sample@sample.com', NULL)
INSERT [dbo].[Company] ([CompanyName], [Address], [Country], [TIN], [ContactPerson], [TelephoneNumber], [FORDO], [Tax], [CompanyCode], [Recipients], [FullName]) VALUES (N'ALEXANDER MANN SOLUTIONS', N'sample', N'Philippines', 15665, N'sample', 23151, N'Domestic', N'Zero-Rated', N'128', N'sample@sample.com', NULL)
INSERT [dbo].[Company] ([CompanyName], [Address], [Country], [TIN], [ContactPerson], [TelephoneNumber], [FORDO], [Tax], [CompanyCode], [Recipients], [FullName]) VALUES (N'ANDERSON INTERNATIONAL DMCC', N'sample', N'United Kingdom', 156, N'sample', 46654, N'Foreign', N'Zero-Rated', N'6555', N'sample@sample.com', NULL)
INSERT [dbo].[Employee] ([FullName], [StartDate], [EndDate], [CompanyName], [JobName]) VALUES (N'adrian', CAST(N'2017-07-18 00:00:00.000' AS DateTime), CAST(N'2017-07-18 00:00:00.000' AS DateTime), N'BALBOA DIGITAL', N'IT Manager')
INSERT [dbo].[Employee] ([FullName], [StartDate], [EndDate], [CompanyName], [JobName]) VALUES (N'Adrian guevarra', CAST(N'2017-07-18 00:00:00.000' AS DateTime), CAST(N'2017-07-18 00:00:00.000' AS DateTime), N'ALEXANDER MANN SOLUTIONS', N'IT Manager')
INSERT [dbo].[Employee] ([FullName], [StartDate], [EndDate], [CompanyName], [JobName]) VALUES (N'guevarra', CAST(N'2017-07-18 00:00:00.000' AS DateTime), CAST(N'2017-07-18 00:00:00.000' AS DateTime), N'BALBOA DIGITAL', N'IT Helpdesk Manager')
INSERT [dbo].[FileDetail] ([Id], [FileName], [Extension], [SupportId]) VALUES (N'c37d2a92-4a85-4619-a42c-2f6195412c68', N'Adrian B.docx', N'.docx', 2)
INSERT [dbo].[FileDetail] ([Id], [FileName], [Extension], [SupportId]) VALUES (N'c876dcc7-c095-4207-8f1a-96a299bb6cdf', N'Adrian B.docx', N'.docx', 1)
SET IDENTITY_INSERT [dbo].[Invoice] ON 

SET IDENTITY_INSERT [dbo].[Invoice] OFF
INSERT [dbo].[Jobs] ([JobName], [Currency], [RateType], [Rate]) VALUES (N'Contact Services Agent', N'UK Pounds', N'Monthly', 850)
INSERT [dbo].[Jobs] ([JobName], [Currency], [RateType], [Rate]) VALUES (N'Content Writer', N'UK Pounds', N'Monthly', 1100)
INSERT [dbo].[Jobs] ([JobName], [Currency], [RateType], [Rate]) VALUES (N'Graphic Designer', N'UK Pounds', N'Monthly', 1040)
SET IDENTITY_INSERT [dbo].[MultipleServices] ON 

INSERT [dbo].[MultipleServices] ([MultipleServiceId], [invoiceId], [NameOfService], [ServiceQuantity], [ServiceRate], [SubTotal], [typeofservices_typeofserviceId], [Employee_FullName]) VALUES (27, 10, N'Set Up Fee', N'1.00', N'1.00', N'1.00', NULL, NULL)
INSERT [dbo].[MultipleServices] ([MultipleServiceId], [invoiceId], [NameOfService], [ServiceQuantity], [ServiceRate], [SubTotal], [typeofservices_typeofserviceId], [Employee_FullName]) VALUES (28, 10, N'Seat Rental', N'1.00', N'1.00', N'1.00', NULL, NULL)
INSERT [dbo].[MultipleServices] ([MultipleServiceId], [invoiceId], [NameOfService], [ServiceQuantity], [ServiceRate], [SubTotal], [typeofservices_typeofserviceId], [Employee_FullName]) VALUES (29, 10, N'Recruitment Fee', N'1.00', N'1.00', N'1.00', NULL, NULL)
SET IDENTITY_INSERT [dbo].[MultipleServices] OFF
SET IDENTITY_INSERT [dbo].[TypeOfService] ON 

INSERT [dbo].[TypeOfService] ([typeofserviceId], [NameOfService], [IsSelected], [Rate]) VALUES (4, N'Set Up Fee', 0, 0)
INSERT [dbo].[TypeOfService] ([typeofserviceId], [NameOfService], [IsSelected], [Rate]) VALUES (5, N'Seat Rental', 0, 0)
INSERT [dbo].[TypeOfService] ([typeofserviceId], [NameOfService], [IsSelected], [Rate]) VALUES (6, N'Recruitment Fee', 0, 0)
SET IDENTITY_INSERT [dbo].[TypeOfService] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_FullName]    Script Date: 7/24/2017 9:04:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_FullName] ON [dbo].[Company]
(
	[FullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_JobName]    Script Date: 7/24/2017 9:04:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_JobName] ON [dbo].[Employee]
(
	[JobName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupportId]    Script Date: 7/24/2017 9:04:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_SupportId] ON [dbo].[FileDetail]
(
	[SupportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CompanyName]    Script Date: 7/24/2017 9:04:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_CompanyName] ON [dbo].[Invoice]
(
	[CompanyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Employee_FullName]    Script Date: 7/24/2017 9:04:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_Employee_FullName] ON [dbo].[MultipleServices]
(
	[Employee_FullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_invoiceId]    Script Date: 7/24/2017 9:04:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_invoiceId] ON [dbo].[MultipleServices]
(
	[invoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_typeofservices_typeofserviceId]    Script Date: 7/24/2017 9:04:34 AM ******/
CREATE NONCLUSTERED INDEX [IX_typeofservices_typeofserviceId] ON [dbo].[MultipleServices]
(
	[typeofservices_typeofserviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Company_dbo.Employee_FullName] FOREIGN KEY([FullName])
REFERENCES [dbo].[Employee] ([FullName])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_dbo.Company_dbo.Employee_FullName]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employee_dbo.Jobs_JobName] FOREIGN KEY([JobName])
REFERENCES [dbo].[Jobs] ([JobName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_dbo.Employee_dbo.Jobs_JobName]
GO
ALTER TABLE [dbo].[FileDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FileDetail_dbo.Archive_SupportId] FOREIGN KEY([SupportId])
REFERENCES [dbo].[Archive] ([SupportId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FileDetail] CHECK CONSTRAINT [FK_dbo.FileDetail_dbo.Archive_SupportId]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoice_dbo.Company_CompanyName] FOREIGN KEY([CompanyName])
REFERENCES [dbo].[Company] ([CompanyName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_dbo.Invoice_dbo.Company_CompanyName]
GO
ALTER TABLE [dbo].[MultipleServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MultipleServices_dbo.Employee_Employee_FullName] FOREIGN KEY([Employee_FullName])
REFERENCES [dbo].[Employee] ([FullName])
GO
ALTER TABLE [dbo].[MultipleServices] CHECK CONSTRAINT [FK_dbo.MultipleServices_dbo.Employee_Employee_FullName]
GO
ALTER TABLE [dbo].[MultipleServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MultipleServices_dbo.Invoice_invoiceId] FOREIGN KEY([invoiceId])
REFERENCES [dbo].[Invoice] ([invoiceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MultipleServices] CHECK CONSTRAINT [FK_dbo.MultipleServices_dbo.Invoice_invoiceId]
GO
ALTER TABLE [dbo].[MultipleServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MultipleServices_dbo.TypeOfService_typeofservices_typeofserviceId] FOREIGN KEY([typeofservices_typeofserviceId])
REFERENCES [dbo].[TypeOfService] ([typeofserviceId])
GO
ALTER TABLE [dbo].[MultipleServices] CHECK CONSTRAINT [FK_dbo.MultipleServices_dbo.TypeOfService_typeofservices_typeofserviceId]
GO
USE [master]
GO
