@{
    ViewBag.Title = "Index";
}

<div ng-controller="TypeOfServiceController as model" ng-init="model.Initialise()">
    <div class="row">
        <div class="col-sm-4">
            <a href="../TypeOfService/Create" class="btn btn-default">Create</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse">

                        @*<th>TypeOfServiceId</th>*@
                        @*<th>Rate</th>*@
                        @*<th>WhTax</th>*@
                        <th>Name Of Service</th>
                        <th>Service Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickableRow" ng-repeat="typeOfService in model.TypeOfServices" ng-click="$event.originalEvent.dropdown || model.GoToUpdatePage(typeOfService.TypeOfServiceId)">
                        @*<td><span ng-bind="typeOfService.TypeOfServiceId"></span></td>*@
                        @*<td><span ng-bind="typeOfService.Rate"></span></td>*@
                        @*<td><span ng-bind="typeOfService.WhTax"></span></td>*@
                        <td><span ng-bind="typeOfService.Name"></span></td>
                        <td><span ng-bind="typeOfService.Description"></span></td>
                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="model.GoToUpdatePage(typeOfService.TypeOfServiceId)">Edit</a></li>
                                    <li><a href="#" ng-click="model.Delete(typeOfService)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>