@{
    ViewBag.Title = "_Invoice";
}

<div class="form-group" align="right">
    <p id="DateToday">
        <script>
                var today = new Date();
                document.getElementById("DateToday").innerHTML = "Date: " +  today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();
        </script>
    </p>
</div>

@*Company Branch*@
<div class="form-group" ng-controller="InvoiceController as model" ng-init="model.Initialise()" ng-app="App">
    @*SINo*@
    <label for="SINo">SI No: </label>
    <label id="SINo"><u>{{model.SingleSelected.SINo}}</u></label><br>
    @*Address*@
    <label for="Address" id="Address">Address: {{model.SingleSelected.Address}}</label><br>
    @*TIN*@
    <label for="TIN" id="TIN">TIN: <u>{{model.SingleSelected.TIN}}</u></label><br>
    @*Branch Location*@
    <label>Branch Location</label>
    <ui-select ng-model="model.SingleSelected">
        <ui-select-match>
            <span ng-bind="$select.selected.CompanyAddress"></span>
        </ui-select-match>
        <ui-select-choices repeat="dropDownItem in (model.CompanyBranches | filter: $select.search) track by $index">
            <span ng-bind="dropDownItem.CompanyAddress"></span>
        </ui-select-choices>
    </ui-select>
</div>

@*UI SELECT*@
<div class="form-group" ng-controller="InvoiceController as model" ng-init="model.Initialise()" ng-app="App">
    <label for="ClientId">Select Client</label>
    <ui-select ng-model="model.Clients">
        <ui-select-match placeholder="Select Client...">
            <span ng-bind="$select.selected.Name"></span>

        </ui-select-match>
        <ui-select-choices repeat="client in (model.Clients | filter: $select.search) track by $index">
            <span ng-bind="client.Name"></span>
        </ui-select-choices>
    </ui-select>
    <div class="form-group">
        <label for="Name"></label>
        <input type="hidden" class="form-control" id="Name" readonly="readonly" name="Name" value="{{model.Clients.Name}}" disabled>
    </div>
    <div class="form-group">
        <label for="Curreny">Currency</label>
        <input type="text" class="form-control" id="Currency"  name="Currency" value="{{model.Clients.CurrencyCode}}" disabled>
    </div>
    <div class="form-group">
        <label for="WithholdingTax">Withholding Tax</label>
        <input type="text" class="form-control" id="WithholdingTax"  name="WithholdingTax" value="{{model.Clients.WithHoldingTaxPercentage}}" disabled>
    </div>
</div>

@*Computation ng Subtotal*@
<div class="form-group-material" ng-controller="InvoiceController as model" ng-init="model.Initialise()"ng-app="App">
    <br /><br />
    <!-- Services -->
    <div class="container col-md-4" style="width:100%">
        <table class="table table-bordered" style="border-style:solid; font-size: 12px; font-family:Arial, Helvetica, sans-serif;">
            <thead>
                <tr>
                    <th width="5%" style="display:none">Index</th>
                    <th width="20%">Type of Service</th>
                    <th width="25%">Description</th>
                    <th width="20%">Rate</th>
                    <th width="20%">Quantity</th>
                    <th width="20%">Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="invoiceService in model.Invoice track by $index">
                    <td style="display:none">
                        {{$index}}
                        <input type="hidden" name="invoice.multipleServices[{{$index}}].MultipleServiceId" value="{{invoiceService.TypeOfService.typeofserviceId}}" />
                    </td>

                    <!--Type of Service-->
                    <td>
                        <select class="form-control" name="invoice.multipleServices[{{$index}}].NameOfService" ng-model="invoiceService.TypeOfService" ng-options="TypeOfService.NameOfService for TypeOfServices in model.TypeOfServices" placeholder="Type of Service"></select>
                    </td>

                    <!--Description-->
                    <td>
                        <input type="text" class="form-control" name="Invoice.[{{$index}}].ServiceDescription" ng-model="invoiceService.TypeOfService.ServiceDescription" placeholder="Service Description" value="{{ServiceDescription}}" disabled>
                    </td>

                    <!-- Rate -->
                    <td>
                        <input class="form-group" type="number" name="Rate[{{$index}}].ServiceRate" ng-model="invoiceService.Rate"  placeholder="0.00" value="{{ServiceRate}}" min="0.00"/>
                    </td>

                    <!-- Quantity -->
                    <td>
                        <input class="form-group" type="number" name="Quantity[{{$index}}].ServiceQuantity" ng-model="invoiceService.Quantity" placeholder="0" min="1"/>
                    </td>

                    <!--Subtotal-->
                    <td ng-model="invoiceService.Subtotal">
                        <span class="form-group" name="Subtotal" ng-bind="model.Subtotal()">0</span>
                    </td>

                    <td><button type="button" ng-click="model.deleteRow($index)" class="btn btn-info glyphicon glyphicon-trash"></button></td>
                </tr>

                <!--Tax and Total-->
                <tr style="border:none">
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                </tr>


                <tr style="border:none">
                    <td style="border:none">

                    <td style="border:none"></td>
                    <td style="border:none"><b><span>Total:</span></b></td>
                    <td style="border:none" ng-bind="model.Total()"><input type="number"name="Total" id="Total" class="form-control" placeholder="0" readonly="readonly" /></td>
                    <td style="border:none"></td>
                </tr>
        </table>
        <br />
        <button type="button" ng-click="model.CreateInvoiceService()" class="btn btn-primary" style="float:right">Add Service</button>
    </div>
</div>

<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>