
@{
    ViewBag.Title = "_Invoice";
}

@*DATE*@

<div class="form-group" align="right">
    <p id="DateToday">
        <script>
                var today = new Date();
                document.getElementById("DateToday").innerHTML = "Date: " +  today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();
        </script>
    </p>
</div>

@*BRANCH*@
<div class="form-group" ng-controller="InvoiceController as model" ng-init="model.Initialise()">
    <label for="SINo">SI No: </label>
    <label id="SINo"><u>{{model.CompanyBranch.SINo}}</u></label><br>
    <input type="hidden" class="form-control" id="SINo" name="invoice.SINo" value="{{model.CompanyBranch.SINo}}@Model.SINo">

    <label for="Address" id="Address">Address: {{model.CompanyBranch.Address}}</label>

    <ui-select ng-model="model.CompanyBranch">
        <ui-select-match placeholder="Select Branch">
            <span ng-bind="$select.selected.CompanyAddress"></span>
        </ui-select-match>
        <ui-select-choices repeat="dropDownItem in (model.CompanyBranches | filter: $select.search) track by $index">
            <span ng-bind="dropDownItem.CompanyAddress"></span>
        </ui-select-choices>
    </ui-select>

    <label for="TIN" id="TIN">TIN: <u>{{model.CompanyBranch.TIN}}</u></label><br>
    <input type="hidden" class="form-control" id="TIN" name="invoice.TIN" value="{{model.CompanyBranch.TIN}}@Model.TIN">
</div>

@*UI SELECT CLIENT*@
<div class="form-group" ng-controller="ClientController as model" ng-init="model.Initialise()">
    <label for="ClientId">Select Client</label>
    <ui-select ng-model="model.Client">
        <ui-select-match placeholder="Select Client">
            <span ng-bind="$select.selected.Name"></span>
        </ui-select-match>
        <ui-select-choices repeat="client in (model.Clients | filter: $select.search) track by $index">
            <span ng-bind="client.Name"></span>
        </ui-select-choices>
    </ui-select>
    <input type="hidden" class="form-control" id="invoice.Name" readonly="readonly" name="invoice.Name" value="{{model.Client.Name}}">
    <input type="hidden" class="form-control" id="invoice.Currency" readonly="readonly" name="invoice.Currency" value="{{model.Client.CurrencyCode}}">
    @*<input type="hidden" class="form-control" id="invoice.WithholdingTax" readonly="readonly" name="WithholdingTax" value="{{model.Client.WithHoldingTaxPercentage}}">*@
</div>

@*Computation ng Subtotal*@
<div class="form-group-material" ng-controller="InvoiceController as model" ng-init="model.Initialise()">
    <br /><br />
    <!-- Services -->
    <div class="container col-md-4" style="width:100%">
        <table class="table table-bordered" style="border-style:solid; font-size: 12px; font-family:Arial, Helvetica, sans-serif;">
            <thead>
                <tr>
                    <th width="5%" style="display:none">Index</th>
                    <th width="20%">Type of Service</th>
                    <th width="25%">Description</th>
                    <th width="20%">Rate</th>
                    <th width="20%">Quantity</th>
                    <th width="20%">Subtotal</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="service in model.Services track by $index">
                    <td style="display:none">
                        {{$index}}
                        <input type="hidden" name="invoice.Services[{{$index}}].TypeOfServiceId" value="{{service.TypeOfService.TypeOfServiceId}}" />
                    </td>
                    <!--Type of Service-->
                    <td>
                        <ui-select ng-model="model.TypeOfService">
                            <ui-select-match placeholder="Select Type of Service">
                                <span ng-bind="$select.selected.Name"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="typeOfServices in (model.TypeOfServices | filter: $select.search) track by $index">
                                <span ng-bind="typeOfServices.Name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td>
                    <!--Description-->
                        <input type="text" class="form-control" readonly="readonly" name="invoice.Services[{{$index}}].Description" ng-model="service.TypeOfService.Description" placeholder="Service Description">
                    </td>
                    <!-- Rate -->
                    <td>
                        <input class="form-group" type="number" id="Rate" name="invoice.Services[{{$index}}].Rate" ng-model="service.Rate" placeholder="0.00" min="0.00" />
                    </td>
                    <!-- Quantity -->
                    <td>
                        <input class="form-group" type="number" name="invoice.Services[{{$index}}].Quantity" ng-model="service.Quantity" placeholder="1" min="1" />
                    </td>
                    <!--Subtotal-->
                    <td>
                        <span class="form-group" name="Subtotal" ng-bind="model.Subtotal(service)"></span>
                    </td>
                    <td><button type="button" ng-click="model.deleteRow($index)" class="btn btn-info glyphicon glyphicon-trash"></button></td>
                </tr>

                <!--Tax and Total-->
                <tr style="border:none">
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                </tr>
                <tr style="border:none">
                    <td style="border:none">
                    <td style="border:none"></td>
                    <td style="border:none"><b><span>TOTAL SALES</span></b></td>
                    <td style="border:none"></td>
                    <td style="border:none" ng-bind="model.Total()">
                    @*<input type="number" class="form-control" placeholder="0.00" readonly="readonly" />*@
                    </td>
                    <td style="border:none"></td>
                </tr>
                <tr style="border:none">
                    <td style="border:none">
                    <td style="border:none"></td>
                    <td style="border:none"><b><span>+ Sales Tax</span></b></td>
                    <td style="border:none"></td>
                    <td style="border:none" ng-bind="model.SalesTax()">
                    @*<label class="form-control" placeholder="0.00" readonly="readonly" />*@
                    </td>
                    <td style="border:none"></td>
                </tr>
                <tr style="border:none">
                    <td style="border:none">
                    <td style="border:none"></td>
                    <td style="border:none"><b><span>- Withholding Tax</span></b></td>
                    <td style="border:none"></td>
                    <td style="border:none" ng-bind="model.WithholdingTax()">
                    @*<input type="number" class="form-control" placeholder="0.00" readonly="readonly" />*@
                    </td>
                    <td style="border:none"></td>
                </tr>
                <tr style="border:none">
                    <td style="border:none">
                    <td style="border:none"></td>
                    <td style="border:none"></td>
                    <td style="border:none"><b><span>Amount Due:</span></b></td>
                    <td style="border:none" ng-bind="model.Total()">
                        <input type="number" class="form-control" placeholder="0.00" readonly="readonly" />
                    </td>
                    <td style="border:none"></td>
                </tr>

        </table>
        <br />
        <button type="button" ng-click="model.CreateInvoiceService()" class="btn btn-primary" style="float:right">Add Service</button>
    </div>
</div>
<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>
