@using AndersonPayModel;
@model Invoice
@{
    ViewBag.Title = "Index";
}

<style>
    .pageIndexInvoice {
        background-color: white;
        margin: 0px;
        padding: 10px;
        /*padding-top: 20px;*/
        height: auto;
    }

    tr.thead-inverse {
        background-color: #465A65;
        color: white;
        text-align: center;
    }

    a.btn-default:hover {
        background-color: #0c7cd5;
        color: white;
    }

    a.btn-default {
        background-color: #2196F3;
        color: white;
    }
</style>

<div class="pageIndexInvoice" ng-controller="InvoiceController as model" ng-init="model.Initialise()">
    <div class="row">
        <div class="col-sm-4">
            <a href="../Invoice/Create" class="btn btn-default">Create</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse">
                        <th>Created Date</th>
                        @*<th>Invoice Id</th>*@
                        @*<th>SI No.</th>*@
                        @*<th>TIN</th>*@
                        @*<th>Quantity</th>*@
                        @*<th>Rate</th>*@
                        @*<th>Subtotal</th>*@
                        <th>Name</th>
                        <th>Currency</th>
                        <th>Tax</th>
                        <th>Amount Due</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickableRow" ng-repeat="invoice in model.Invoices" ng-click="$event.originalEvent.dropdown || model.GoToUpdatePage(invoice.InvoiceId)">
                        <td><span ng-bind="invoice.CreatedDate"></span></td>
                        @*<td><span ng-bind="invoice.InvoiceId"></span></td>*@
                        @*<td><span ng-bind="invoice.SINo"></span></td>*@
                        @*<td><span ng-bind="invoice.TIN"></span></td>*@
                        @*<td><span ng-bind="invoice.Service.Quantity"></span></td>*@
                        @*<td><span ng-bind="invvoice.Service.Rate"></span></td>*@
                        @*<td><span ng-bind="invoice.Subtotal"></span></td>*@
                        <td><span ng-bind="invoice.Name"></span></td>
                        <td><span ng-bind="invoice.Currency"></span></td>
                        <td><span ng-bind="invoice.Tax"></span></td>
                        <td><span ng-bind="invoice.AmountDue"></span></td>

                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <script>
	                                $('body').on('hidden.bs.modal', '.modal', function(){
		                            $(this).removeData('bs.modal');
	                                });
                                </script>
                                <div class="modal fade" id="myModal" role="dialog" aria-labled="myModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                        </div>
                                    </div>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="model.GoToUpdatePage(invoice.InvoiceId)">Edit</a></li>
                                    <li><a href="#" ng-click="model.Delete(invoice)">Delete</a></li>
                                    <li><a href="@Url.Action("InvoiceSummary", "Invoice")" data-toggle="modal" data-target="#myModal">PDF</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


