@*@model AndersonPayModel.Invoice
@model AndersonPayEntity.EInvoice*@
@{
    ViewBag.Title = "InvoiceSummary";

}
<style>
    #grad1 {
        color: white;
        margin: 0px;
        background: linear-gradient(to right, #159cf6, #97dded);
    }
</style>
@*<div class="panel panel-heading" id="grad1" style="padding:5px;margin-bottom:10px;padding-left:20px;">
    <h3>Summary</h3>
</div>*@
<div align="right" style="padding-right: 80px; padding-top:80px;" ng-controller="InvoiceController as model" ng-init="model.Initialise()">
    <h3><b>Billing Statement</b></h3>
    <h4>Sales Invoice No. @*{{model.CompanyBranch.SINo}}*@ @*@Model.SINo*@</h4>
</div>
<div style="padding-left: 80px;">
    <h6><b>ANDERSON GROUP BPO INC.</b></h6>
    <p>Branch Address</p>
</div>
<div  style="padding-left: 70px; padding-right:65px; padding-bottom:80px;">
    <table class="table table-hover table-sm table-bordered ">
        <thead>
            <tr class="thead-inverse" style="background-color:#159cf6; color:white">
                <th style="text-align:center">DESCRIPTION</th>
                <th style="text-align:center">AMOUNT</th>
            </tr>
        </thead>
        <tbody>
            @*<tr class="clickableRow">
                
                <td><span ng-bind="invoice.Name"></span></td>
                <td><span ng-bind="invoice.Currency"></span></td>
            </tr>*@
            <tr style="height: 40px">
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 40px">
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 40px">
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 40px">
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 40px">
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 40px">
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td style="font-size: 12px">Billing Period:</td>
                <td></td>
            </tr>
            <tr style="height: 5px">
                <td style="font-size: 12px">Due Date:</td>
                <td></td>
            </tr>
            <tr style="height: 40px">
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 40px">
                <td style="font-size: 12px">Total</td>
                <td></td>
            </tr>
            <tr style="height: 40px">
                <td style="font-size: 12px">Plus: 12% VAT</td>
                <td></td>
            </tr>
            <tr style="height: 40px">
                <td style="font-size: 12px">Sub-Total</td>
                <td></td>
            </tr>
            <tr>
                <td style="font-size: 12px">Less: Withholding TAX (<u>asd</u>)</td>
                <td></td>
            </tr>
            <tr style="height: 40px">
                <td style="font-size: 12px"><b>Total payable for this invoice</b></td>
                <td></td>
            </tr>
    </tbody>
    </table>
</div>
<div class="modal-footer" align="right" style="padding: 20px;">
    <button type="submit" value="Index" class="btn btn-primary">Save and Send</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
