@using AndersonPayModel;
@model Invoice

@{
    ViewBag.Title = "Update";
}
<div class="row">
    <div class="col-sm-12">
        <form action="~/Invoice/Update" method="post">
            @{
                Html.RenderPartial("_Invoice", Model);
            }
        </form>
    </div>
</div>