@using AndersonPayModel;
@model ReceivePayment

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-sm-12">
        <form action="~/ReceivePayment/Create" method="post">
            @{
                Html.RenderPartial("_Payment", Model);
            }
        </form>
    </div>
</div>