@{
    ViewBag.Title = "_Payment";
}
<style>
    div.page_Client {
        background-color: white;
        margin: 0px;
        padding: 10px;
        padding-top: 50px;
    }

    div.form-group {
        padding-left: 40px;
        width: 300px;
    }
    a.btn-default {
        background-color: #2196F3;
        color: white;
    }
</style>

<div class="form-group">
        <label for="PaymentId"></label>
        <input type="hidden" class="form-control" id="PaymentId" name="PaymentId"  value="@Model.PaymentId">
 </div>

<div class="form-group">
    <label for="DateOfPayment">Date Of Payment</label>
    <input type="date" class="form-control" autocomplete="off" id="payment.DateOfPayment" name="payment.DateOfPayment" placeholder="Date Of Payment" value="@Model.DateOfPayment">
</div>

<div class="form-group">
    <label for="AmountReceived">Amount Received</label>
    <input type="number" class="form-control" autocomplete="off" id="payment.AmountReceived" name="payment.AmountReceived" placeholder="Amount Received" value="@Model.AmountReceived">
</div>

<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>
