@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .container {
        width: 90% !important;
    }
</style>


<div class="container" style="padding:20px;">
    
        <div class="panel panel-flat" style="padding-top:165px; padding-bottom:165px">
            
            <div class="panel-body container">
                    

                <center><h2>Welcome to</h2></center>
                <img src="/Content/assets/img/logo-andersonpay.png" class="about-title" style="width: 40%;">
                    
             
            </div>
      
        </div>
    <hr />


    <div class="panel-body container">

        <div class="footer text-muted">
            &copy; 2017. - Anderson Group BPO Inc. | <a href="#">Anderson.Pay</a> - Private and Confidential.
        </div>

        </div>
    </div>